Repository Keychron/qmk_firmware, pull requests merged in 2023-01, with the labels that each got.

#95 Correct layout data for ANSI versions
  keyboards/keychron/s1/s1_ansi_rgb_stm32l432/info.json
  keyboards/keychron/s1/s1_ansi_rgb_stm32l432/keymaps/default/keymap.c
  keyboards/keychron/s1/s1_ansi_rgb_stm32l432/keymaps/keychron/keymap.c
  keyboards/keychron/s1/s1_ansi_rgb_stm32l432/keymaps/via/keymap.c
  keyboards/keychron/s1/s1_ansi_white_stm32l432/info.json
  keyboards/keychron/s1/s1_ansi_white_stm32l432/keymaps/default/keymap.c
  keyboards/keychron/s1/s1_ansi_white_stm32l432/keymaps/keychron/keymap.c
  keyboards/keychron/s1/s1_ansi_white_stm32l432/keymaps/via/keymap.c
  keyboards/keychron/v1/v1_ansi_stm32l432/info.json
  keyboards/keychron/v1/v1_ansi_stm32l432_ec11/info.json
Labels: keyboard, keymap, via

#97 Update readme for K6 Pro
  keyboards/keychron/k6_pro/readme.md
Labels: keyboard

#100 Update usb_main.c in tmk_core/chibios/protocol
  keyboards/keychron/common/keychron_common.c
  tmk_core/protocol/chibios/usb_main.c
Labels: keyboard, core
