Repository Keychron/qmk_firmware, pull requests merged in 2023-04, with the labels that each got.

#118 Corrected spelling of KC_LPAD
  keyboards/keychron/q1/ansi_atmega32u4/keymaps/default/keymap.c
  keyboards/keychron/q1/ansi_atmega32u4/keymaps/via/keymap.c
  keyboards/keychron/q1/ansi_atmega32u4_encoder/keymaps/default/keymap.c
  keyboards/keychron/q1/ansi_atmega32u4_encoder/keymaps/via/keymap.c
  keyboards/keychron/q1/ansi_stm32l432/keymaps/default/keymap.c
  keyboards/keychron/q1/ansi_stm32l432/keymaps/via/keymap.c
  keyboards/keychron/q1/ansi_stm32l432_encoder/keymaps/default/keymap.c
  keyboards/keychron/q1/ansi_stm32l432_encoder/keymaps/via/keymap.c
  keyboards/keychron/q1/iso_atmega32u4/keymaps/default/keymap.c
  keyboards/keychron/q1/iso_atmega32u4/keymaps/via/keymap.c
  keyboards/keychron/q1/iso_atmega32u4_encoder/keymaps/default/keymap.c
  keyboards/keychron/q1/iso_atmega32u4_encoder/keymaps/via/keymap.c
  keyboards/keychron/q1/iso_stm32l432/keymaps/default/keymap.c
  keyboards/keychron/q1/iso_stm32l432/keymaps/via/keymap.c
  keyboards/keychron/q1/iso_stm32l432_encoder/keymaps/default/keymap.c
  keyboards/keychron/q1/iso_stm32l432_encoder/keymaps/via/keymap.c
  keyboards/keychron/q1/jis_stm32l432/keymaps/default/keymap.c
  keyboards/keychron/q1/jis_stm32l432/keymaps/via/keymap.c
  keyboards/keychron/q1/jis_stm32l432_encoder/keymaps/default/keymap.c
  keyboards/keychron/q1/jis_stm32l432_encoder/keymaps/via/keymap.c
  keyboards/keychron/q10/ansi_encoder/keymaps/default/keymap.c
  keyboards/keychron/q10/ansi_encoder/keymaps/via/keymap.c
  keyboards/keychron/q10/iso_encoder/keymaps/default/keymap.c
  keyboards/keychron/q10/iso_encoder/keymaps/via/keymap.c
  keyboards/keychron/q11/ansi_encoder/keymaps/default/keymap.c
  keyboards/keychron/q11/ansi_encoder/keymaps/via/keymap.c
  keyboards/keychron/q12/ansi_encoder/keymaps/default/keymap.c
  keyboards/keychron/q12/ansi_encoder/keymaps/via/keymap.c
  keyboards/keychron/q12/iso_encoder/keymaps/default/keymap.c
  keyboards/keychron/q12/iso_encoder/keymaps/via/keymap.c
  keyboards/keychron/q3/ansi/keymaps/default/keymap.c
  keyboards/keychron/q3/ansi/keymaps/via/keymap.c
  keyboards/keychron/q3/iso/keymaps/default/keymap.c
  keyboards/keychron/q3/iso/keymaps/via/keymap.c
  keyboards/keychron/q3/iso_encoder/keymaps/default/keymap.c
  keyboards/keychron/q3/iso_encoder/keymaps/via/keymap.c
  keyboards/keychron/q3/jis/keymaps/default/keymap.c
  keyboards/keychron/q3/jis/keymaps/via/keymap.c
  keyboards/keychron/q3/jis_encoder/keymaps/default/keymap.c
  keyboards/keychron/q3/jis_encoder/keymaps/via/keymap.c
  keyboards/keychron/q5/ansi/keymaps/default/keymap.c
  keyboards/keychron/q5/ansi/keymaps/via/keymap.c
  keyboards/keychron/q5/ansi_encoder/keymaps/default/keymap.c
  keyboards/keychron/q5/ansi_encoder/keymaps/via/keymap.c
  keyboards/keychron/q5/iso/keymaps/default/keymap.c
  keyboards/keychron/q5/iso/keymaps/via/keymap.c
  keyboards/keychron/q5/iso_encoder/keymaps/default/keymap.c
  keyboards/keychron/q5/iso_encoder/keymaps/via/keymap.c
  keyboards/keychron/q6/ansi/keymaps/default/keymap.c
  keyboards/keychron/q6/ansi/keymaps/via/keymap.c
  keyboards/keychron/q6/ansi_encoder/keymaps/default/keymap.c
  keyboards/keychron/q6/ansi_encoder/keymaps/via/keymap.c
  keyboards/keychron/q6/iso/keymaps/default/keymap.c
  keyboards/keychron/q6/iso/keymaps/via/keymap.c
  keyboards/keychron/q7/ansi/keymaps/default/keymap.c
  keyboards/keychron/q7/ansi/keymaps/via/keymap.c
  keyboards/keychron/s1/ansi/rgb/keymaps/default/keymap.c
Labels: keymap, via

#116 Allow overwrite led indicator at user level
  keyboards/keychron/bluetooth/indicator.c
Labels: keyboard, core, keymap, via

#115 fix: K6 Pro ANSI White LEDS
  keyboards/keychron/k6_pro/ansi/white/config.h
  keyboards/keychron/k6_pro/ansi/white/white.c
Labels: keyboard

#120 Add missing include keychron_common.h for ansi_encoder
  keyboards/keychron/q10/q10.c
  keyboards/keychron/q12/q12.c
  keyboards/keychron/q5/q5.c
  keyboards/keychron/q6/q6.c
  keyboards/keychron/q65/q65.c
  keyboards/keychron/q8/q8.c
  keyboards/keychron/q9/q9.c
  keyboards/keychron/v1/v1.c
  keyboards/keychron/v10/v10.c
  keyboards/keychron/v2/v2.c
  keyboards/keychron/v3/v3.c
  keyboards/keychron/v5/v5.c
  keyboards/keychron/v6/v6.c
  keyboards/keychron/v8/v8.c
Labels: keyboard
